Django==5.2.3
django-constance==4.3.2
django-extensions==4.1
django-ical==1.9.2
django-loginas==0.3.11
django-phonenumber-field[phonenumbers]==8.1.0
django-post-office==3.9.1
django-sass-processor==1.4.1
libsass==0.23.0
Faker==37.4.0
psycopg2==2.9.10
python-dotenv==1.1.0
sentry-sdk==0.10.0
uWSGI==2.0.30
uwsgidecorators==1.1.0
whitenoise==6.9.0
